{
  "clientTest": {
    "project": "myproject",
    "atrifacts": "pied-piper",
    "secret": {
      "name": "pied-secret",
      "user": "pied-piper",
      "pass": "This guy.."
    },
    "source": {
      "git": {
        "ref": "add-ref",
        "uri": "add-uri.git"
      }
    },
    "sourceStrategy": {
      "from": {
        "kind": "DockerImage",
        "name": "uofa/s2i-shepherd-drupal:develop"
      },
      "pullSecret": {
        "name": "pied-secret"
      }
    }
  }
}
