{
  "clientTest": {
    "delete": true,
    "project": "myproject",
    "artifacts": "pied-piper",
    "image_name": "shepherd",
    "image_stream": "pied-stream",
    "domain": "example.com",
    "secret": {
      "name": "pied-secret",
      "user": "pied-piper",
      "pass": "This guy..",
      "alt_pass": "Middleout"
    },
    "source": {
      "git": {
        "ref": "add-ref",
        "uri": "add-uri.git"
      }
    },
    "sourceStrategy": {
      "from": {
        "kind": "DockerImage",
        "name": "uofa/s2i-shepherd-drupal:develop"
      },
      "pullSecret": {
        "name": "pied-secret"
      }
    },
    "envVars": [
      {
        "name": "MYSQL_DATABASE",
        "value": "mysql"
      },
      {
        "name": "MYSQL_USER",
        "value": "mysql"
      },
      {
        "name": "MYSQL_PASSWORD",
        "value": "mysql"
      }
    ]
  }
}
