#
# Unit test config file - change and rename then do not commit.
#
clientTest:
  project: myproject
  atrifacts: pied-piper
  secret:
    name: pied-secret
    user: pied-piper
    pass: 'This guy..'
  source:
    git:
      ref: git-tag-or-branch-or-ref
      uri: http://some.git.repo/to-be-deployed.git
  sourceStrategy:
    from:
      kind: DockerImage
      name: uofa/s2i-shepherd-drupal:develop
    pullSecret:
      name: pied-secret
